{% extends "product_base.html" %}  
  
{% load i18n %}

{% block operation %}
   &rsaquo;更改产品
{% endblock %}
{% block content %}  
     <p>产品名称 - {{form.instance.product_name}} <br/>
     产品描述 - {{form.instance.product_description}} <br/>
     库存数量 - {{form.instance.quantity}} <br/>
     {% if user.syuser.is_admin %}
     预订数量 - {{form.instance.reserved_quantity }}<br/>
     {% endif %}
     产品单价 - {{form.instance.price}} <br/>
     折扣 - {{form.instance.discount}}<br/>
     {% if form.instance.status %}
     销售状态 - 在售
     {% else %}
     销售状态 - 下架
     {% endif %} <br/>
     <hr/>
     </p>
<form action="" method="post">{% csrf_token %}
    <fieldset class="module aligned ">
      <div class="form-row">
        {{ form.quantity.errors }}
        入库数量: {{ form.quantity }}
      </div>
      <div class="form-row">
        {{ form.price.errors }}
        {{ form.price.label_tag }} {{ form.price }}
      </div>
      <div class="form-row">
        {{ form.discount.errors }}
        {{ form.discount.label_tag }} {{ form.discount }}
      </div>
      <div class="form-row">
        {{ form.status.errors }}
        {{ form.status.label_tag }} {{ form.status }}
      </div>
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="{% trans '保存修改' %}" class="default" />
    </div>
</form>

{% endblock %}
