<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>用户登录| 双圆健康</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "oms/css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "oms/css/login.css" %}" />

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
           <h1 id="site-name"><a href="{% url 'oms:UserLogin' %}">欢迎使用双圆健康</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
      <div id="content-main">
        <form action="{% url 'oms:UserLogin' %}" method="post" id="login-form"> {% csrf_token %}
        <div class="form-row">
          <label class="required" for="id_username">用户名:</label>
            <input id="id_username" maxlength="254" name="username" type="text" />
        </div>
        <div class="form-row">
          <label class="required" for="id_password">密码:</label>
            <input id="id_password" name="password" type="password" />
          <input type="hidden" name="next" value="{% url 'oms:ProductList' %}" />
        </div>
        <div class="submit-row">
          <label>&nbsp;</label><input type="submit" value="登录" />
        </div>
        </form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
      </div>

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

