<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>退出系统 | 双圆健康</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "oms/css/base.css" %}"/>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="{% url 'oms:UserLogin' %}">欢迎使用双圆健康在线订货</a></h1>

        </div>
        
    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="{% url 'oms:UserLogin' %}">主页</a></div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>您已经成功退出</h1>
<p>感谢使用双圆健康在线订货。欢迎下次光临。</p>

<p><a href="{% url 'oms:UserLogin' %}">重新登录</a></p>
        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
