{% extends "customerinfo_base.html" %}  
  
{% block content %}  

<!-- Content -->
<div id="content" class="flex">
  <div id="content-main">
    <h1>客户信息</h1>
    <ul class="object-tools">
      {% if user.syuser.is_admin %}
      <li>
        <a href="{% url 'ccc:CustomerInfoCreate' %}" class="addproduct">新建用户档案</a>
      </li>
      {% endif %}
    </ul>
  <hr /></br>
  <div class="results">
    <table id="result_list">
      <thead>
      <tr>
        <th scope="col"  class="sortable column-product_name">
          <div class="text"><a href="?o=1">姓名</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-product_description">
          <div class="text"><a href="?o=2">年龄</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-product_description">
          <div class="text"><a href="?o=2">性别</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-quantity">
          <div class="text"><a href="?o=3">电话号码</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-quantity">
          <div class="text"><a href="?o=3">加入时间</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-quantity">
          <div class="text"><a href="?o=3">操作</a></div>
          <div class="clear"></div>
        </th>
      </tr>
      </thead>
  
      <tbody>
      {% for item in customerinfo_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <th class="field-cusomerinfo_name"><a href = "{% url 'ccc:CustomerInfoDetail' item.id %}">{{item.name}}</a></th>
          <td class="field-product_description"><a>{{item.age}}</a></td>
          <td class="field-product_description"><a>{{item.get_gender_display}}</a></td>
          <td class="field-product_description"><a>{{item.phone_number}}</a></td>
          <td class="field-product_description"><a>{{item.date_joined}}</a></td>
          <td>
            <a href = "{% url 'ccc:CustomerFeedbackList' item.id %}">反馈数据</a>
            {% if user.syuser.is_admin %}
             / <a href = "{% url 'ccc:CustomerInfoUpdate' item.id %}">修改</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
<!-- pagination here -->
<div class="pagination">
    <span class="step-links">
        {% if customerinfo_list.has_previous %}
            <a href="?page={{ customerinfo_list.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">
            第{{ customerinfo_list.number }}页/共{{ customerinfo_list.paginator.num_pages }}页
        </span>
        {% if customerinfo_list.has_next %}
            <a href="?page={{ customerinfo_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>

</div>


{% endblock %}

