{% extends "customerinfo_base.html" %}  
  
{% load i18n %}

{% block operation %}
   &rsaquo;修改用户信息
{% endblock %}
{% block content %}  
<br>
{% if user.syuser.is_admin and cust %}
<form action="" method="post" class="flex" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="module aligned">
         <p>
           {{form.user_rec.errors}}
           {{form.user_rec.label_tag}} {{form.user_rec}}
         </p> <hr/><p>
           姓名：{{cust.name}} 
           性别：{{cust.get_gender_display}} 
           年龄：{{cust.age}}
           电话号码： {{cust.phone_number}}
           入组日期： {{cust.date_joined}}
         </p>
         <p><hr /> </p>
         <p>
            {{form.weight.errors}}
            {{form.weight.label_tag}}(kg) {{form.weight}} 
            {{form.height.errors}} 
            {{form.height.label_tag}}(cm) {{form.height}}
            {{form.hr.errors}}
            {{form.hr.label_tag}} {{form.hr}}
         </p>
         <p><hr /> </p>
         <p>
            血压：
            {{form.sbp.errors}}
            {{form.sbp.label_tag}} {{form.sbp}}
            {{form.dbp.errors}}
            {{form.dbp.label_tag}} {{form.dbp}}
         </p>
         <p><hr /></p>
         <p>
            血脂：
            {{form.tc.errors}}
            {{form.tc.label_tag}} {{form.tc}}
            {{form.tg.errors}}
            {{form.tg.label_tag}} {{form.tg}}
            {{form.hdl.errors}}
            {{form.hdl.label_tag}} {{form.hdl}}
            {{form.ldl.errors}}
            {{form.ldl.label_tag}} {{form.ldl}}
         </p>
         <p><hr /></p>
         <p>
            血糖：
            {{form.glu.errors}}
            {{form.glu.label_tag}} {{form.glu}}
            {{form.fbg.errors}}
            {{form.fbg.label_tag}} {{form.fbg}}
            {{form.pbg.errors}}
            {{form.pbg.label_tag}} {{form.pbg}}
            {{form.a1c.errors}}
            {{form.a1c.label_tag}} {{form.a1c}}
         </p>
         <p><hr /></p>
         <p>
            {{form.ir.errors}}
            {{form.ir.label_tag}} {{form.ir}}
            {{form.hcy.errors}}
            {{form.hcy.label_tag}} {{form.hcy}}
            {{form.bua.errors}}
            {{form.bua.label_tag}} {{form.bua}}
            {{form.vfp.errors}}
            {{form.vfp.label_tag}} {{form.vfp}}
         </p>
         <p><hr /></p>
         <p>
            {{form.au.errors}}
            {{form.au.label_tag}} {{form.au}}
         </p>
         <p><hr /></p>
         <p>
            {{form.ecg.errors}}
            {{form.ecg.label_tag}} {{form.ecg}}
         </p>
         <p><hr /></p>
         <p>
            {{form.imt.errors}}
            {{form.imt.label_tag}}
            <input id="{{form.imt.auto_id}}" maxlength="128" name="{{form.imt.name}}" type="text" size = "128" value="{{cust.imt}}" />
         </p>
         <p><hr /></p>
         <p>
            {{form.up.errors}}
            {{form.up.label_tag}} 
            <input id="{{form.up.auto_id}}" maxlength="128" name="{{form.up.name}}" type="text" size = "128" value="{{cust.up}}" />
         </p>
         <p><hr /></p>
         <p>
            {{form.lf.errors}}
            {{form.lf.label_tag}}
            <input id="{{form.lf.auto_id}}" maxlength="128" name="{{form.lf.name}}" type="text" size = "128" value="{{cust.lf}}" />
         </p>
         <p><hr /></p>
         <p>
            {{form.rf.errors}}
            {{form.rf.label_tag}} 
            <input id="{{form.rf.auto_id}}" maxlength="128" name="{{form.rf.name}}" type="text" size="128" value="{{cust.rf}}" />
         </p>
         <p><hr /></p>
         <p>
            {{form.uran.errors}}
            {{form.uran.label_tag}} 
            <input id="{{form.uran.auto_id}}" maxlength="128" name="{{form.uran.name}}" type="text" size ="128" value="{{cust.uran}}"/>
         </p>
         <p><hr /></p>
         <p>
            {{form.ba.errors}}
            {{form.ba.label_tag}} 
            <input id="{{form.ba.auto_id}}" maxlength="128" name="{{form.ba.name}}" type="text" size ="128" value="{{cust.ba}}"/>
         </p>
         <p><hr /></p>
         <p>
            {{form.cons.errors}}
            {{form.cons.label_tag}}
            <input id="{{form.cons.auto_id}}" maxlength="64" name="{{form.cons.name}}" type="text" size ="64" value="{{cust.cons}}"/>
         </p>
         <p><hr /></p>
         <p>
            {{form.frve.errors}}
            {{form.frve.label_tag}}
            <input id="{{form.frve.auto_id}}" maxlength="128" name="{{form.frve.name}}" type="text" size ="128" value="{{cust.frve}}"/>
         </p>
         <p><hr /></p>
         <p>
            {{form.dietfood.errors}}
            {{form.dietfood.label_tag}}
            <input id="{{form.dietfood.auto_id}}" maxlength="128" name="{{form.dietfood.name}}" type="text"
              size ="128" value="{{cust.dietfood}}"/>
         </p>
         <p><hr /></p>
         <p>
            {{form.cdh.errors}} {{form.cdh.label_tag}}
            <textarea cols="128" id="{{form.cdh.auto_id}}" maxlength="512" name="{{form.cdh.name}}" rows="4" >{{form.cdh.value}}</textarea>
         </p>
         <p><hr /></p>
         <p>
            {{form.ph.errors}} {{form.ph.label_tag}}
            <textarea cols="128" id="{{form.ph.auto_id}}" maxlength="512" name="{{form.ph.name}}" rows="4" >{{form.ph.value}}</textarea>
         </p>
         <p><hr /></p>
         <p>
            {{form.fh.errors}} {{form.fh.label_tag}}
            <textarea cols="128" id="{{form.fh.auto_id}}" maxlength="512" name="{{form.fh.name}}" rows="4" >{{form.fh.value}}</textarea>
         </p>
         <p><hr /></p>
         <p>
            {{form.oh.errors}} {{form.oh.label_tag}}
            <textarea cols="128" id="{{form.oh.auto_id}}" maxlength="512" name="{{form.oh.name}}" rows="4" >{{form.oh.value}}</textarea>
         </p>
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="{% trans '修改' %}" class="default" />
    </div>
</form>

{% endif %}

{% endblock %}

