{% extends "customerinfo_base.html" %}  
  
{% block operation %}
&rsaquo; {{customerinfo_detail.name}}
{% endblock %}

{% block content %}  
{% if customerinfo_detail %}
<div class="results">
  <table id="result_list" border="1">
    <tbody>
      <tr>
        <td>姓名</td><td>{{customerinfo_detail.name}}</td><td>年龄</td><td>{{customerinfo_detail.age}}</td>
        <td>出生日期</td><td>{{customerinfo_detail.birth_date}}</td>
        <td>性别</td><td>{{customerinfo_detail.get_gender_display}}</td>
        <td>电话号码</td><td>{{customerinfo_detail.phone_number}}</td>
        <td>入组日期</td><td>{{customerinfo_detail.date_joined}}</td>
      </tr>
      <tr>
        <td>体重</td><td>{{customerinfo_detail.weight}}</td>
        <td>身高</td><td>{{customerinfo_detail.height}}</td>
        <td>BMI</td><td>{{customerinfo_detail.bmi}}</td>
        <td>心率</td><td>{{customerinfo_detail.hr}}</td>
        <td>收缩压</td><td>{{customerinfo_detail.sbp}}</td>
        <td>舒张压</td><td>{{customerinfo_detail.dbp}}</td>
      </tr>
      <tr>
        <td colspan="2">血脂四项</td>
        <td>总胆固醇</td><td>{{customerinfo_detail.tc}}</td>
        <td>甘油三脂</td><td>{{customerinfo_detail.tg}}</td>
        <td colspan="2">高密度脂蛋白</td><td>{{customerinfo_detail.hdl}}</td>
        <td colspan="2">低密度脂蛋白</td><td>{{customerinfo_detail.ldl}}</td>
      </tr>
      <tr>
        <td colspan="2">血糖</td>
        <td>随机血糖</td><td>{{customerinfo_detail.glu}}</td>
        <td>空腹血糖</td><td>{{customerinfo_detail.fbg}}</td>
        <td colspan="2">餐后血糖</td><td>{{customerinfo_detail.pbg}}</td>
        <td colspan="2">A1C</td><td>{{customerinfo_detail.a1c}}</td>
      </tr>
      <tr>
        <td colspan="2">胰岛素抵抗</td><td>{{customerinfo_detail.ir}}</td>
        <td colspan="2">同型半胱氨酸</td><td>{{customerinfo_detail.hcy}}</td>
        <td colspan="2">血尿酸</td><td>{{customerinfo_detail.bua}}</td>
        <td colspan="2">内脏脂肪占比</td><td>{{customerinfo_detail.vfp}}</td>
      </tr><tr>
        <td colspan="2">便秘</td><td colspan="10">{{customerinfo_detail.cons}}</td>
      </tr><tr>
        <td colspan="2">蔬菜和水果</td><td colspan="10">{{customerinfo_detail.frve}}</td>
      </tr><tr>
        <td colspan="2">忌口的食物</td><td colspan="10">{{customerinfo_detail.dietfood}}</td>
      </tr><tr>
        <td colspan="2">颈动脉斑块</td><td colspan="10">{{customerinfo_detail.imt}}</td>
      </tr><tr>
        <td colspan="2">尿蛋白</td><td colspan="10">{{customerinfo_detail.up}}</td>
      </tr><tr>
        <td colspan="2">肝功</td><td colspan="10">{{customerinfo_detail.lf}}</td>
      </tr><tr>
        <td colspan="2">肾功</td><td colspan="10">{{customerinfo_detail.rf}}</td>
      </tr><tr>
        <td colspan="2">尿液分析</td><td colspan="10">{{customerinfo_detail.uran}}</td>
      </tr><tr>
        <td colspan="2">血液分析</td><td colspan="10">{{customerinfo_detail.ba}}</td>
      </tr><tr>
        <td colspan="2">腹部彩超</td><td colspan="10">
        {% if customerinfo_detail.au %}
          <img src="{{customerinfo_detail.au.url}}">
        {% else %}
          未上传
        {% endif %} </td>
      </tr><tr>
        <td colspan="2">心电图</td><td colspan="10">
        {% if customerinfo_detail.ecg %}
          <img src="{{customerinfo_detail.ecg.url}}">
        {% else %}
          未上传
        {% endif %} </td>
      </tr><tr>
        <td colspan="2">现病史</td><td colspan="10">{{customerinfo_detail.cdh}}</td>
      </tr><tr>
        <td colspan="2">既往史</td><td colspan="10">{{customerinfo_detail.ph}}</td>
      </tr><tr>
        <td colspan="2">家族史</td><td colspan="10">{{customerinfo_detail.fh}}</td>
      </tr><tr>
        <td colspan="2">手术史</td><td colspan="10">{{customerinfo_detail.oh}}</td>
      </tr><tr>
        <td colspan = "12"><b>备注</b>：<br/>胰岛素抵抗=空腹血糖水平（FPG，mmol/L）×空腹胰岛素水平（FINS，mIU/L）/22.5
          </br>内脏脂肪占比=腰围/臀围</td>
      </tr>
    </tbody>
  </table>
</div>
{% if user.syuser.is_admin %}
 <table id="result_list">
   <thead>
     <tr>
       <th scope="col">
         <div class="text">变更原因</div>
       </th>
       <th scope="col">
         <div class="text">变更时间</div>
       </th>
       <th scope="col">
         <div class="text">操作员</div>
       </th>
     </tr>
   </thead>

   <tbody>
   {% for cr_his in product_detail.productcr_set.all %}
     <tr class="row1">
       <td><a>{{cr_his.cr_reason}}</a></td>
       <td><a>{{cr_his.updated_date}}</a></td>
       <td><a>{{cr_his.user_admin}}</a></td>
     </tr>
   {% endfor %}
    </tbody>
  </table>
{% endif %}
{% else %}
    <li>还没有录入的产品信息！</li>
{% endif %}


{% endblock %}
