{% extends "customerinfo_base.html" %}  
  
{% block operation %}
&rsaquo;<a href="{% url 'ccc:CustomerInfoDetail' cust_id %}">{{cust_name}}</a>
&rsaquo; 反馈数据列表
{% endblock %}
{% block content %}  

<!-- Content -->
<div id="content" class="flex">
  <div id="content-main">
    <h1>每日反馈数据</h1>
    <ul class="object-tools">
      {% if user.syuser.is_admin %}
      <li>
        <a href="{% url 'ccc:CustomerFeedbackCreate' cust_id %}" class="addproduct">添加反馈信息</a>
      </li>
      {% endif %}
    </ul>
  <hr /></br>
  <div class="results">
    <table id="result_list">
      <thead>
      <tr>
        <th scope="col"  class="sortable column-product_name">
          <div class="text"><a href="?o=1">日期</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-product_description">
          <div class="text"><a href="?o=2">体重</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-product_description">
          <div class="text"><a href="?o=2">血压</a></div>
          <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-quantity">
          <div class="text"><a href="?o=3">血糖</a></div>
          <div class="clear"></div>
        </th>
        {% if user.syuser.is_admin %}
        <th scope="col"  class="sortable column-quantity">
          <div class="text"><a href="?o=3">操作</a></div>
          <div class="clear"></div>
        </th>
        {% endif %}
      </tr>
      </thead>
  
      <tbody>
      {% for item in feedbacks %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <th class="field-cusomerinfo_name">
            <a href = "{% url 'ccc:CustomerFeedbackDetail' item.id cust_id %}">{{item.feed_date}}</a>
          </th>
          <td class="field-product_description"><a>{{item.weight}}</a></td>
          <td class="field-product_description"><a>{{item.sbp}}/{{item.dbp}}</a></td>
          <td class="field-product_description"><a>{{item.fbg}}/{{item.pbg}}</a></td>
          {% if user.syuser.is_admin %}
          <td>
            <a href = "{% url 'ccc:CustomerFeedbackUpdate' item.id cust_id %}">修改</a>
            <a href = "{% url 'ccc:CustomerFeedbackDelete' item.id cust_id %}">删除</a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}

      </tbody>
    </table>
<!-- pagination here -->
<div class="pagination">
    <span class="step-links">
        {% if feedbacks.has_previous %}
            <a href="?page={{ feedbacks.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">
            第{{ feedbacks.number }}页/共{{ feedbacks.paginator.num_pages }}页
        </span>
        {% if feedbacks.has_next %}
            <a href="?page={{ feedbacks.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>

</div>


{% endblock %}

