{% extends "product_base.html" %}  
  
{% block operation %}
&rsaquo;<a href="{% url 'oms:OrderList' %}">订单列表</a>
&rsaquo; 订单确认
{% endblock %}

{% block content %}  
<div id="content" class="flex">
  <div id="content-main">
    <h1>订单详情</h1>
  </div>

{% if order_detail %}
  <div class="results">
    <table id="result_list">
       <thead>
         <tr>
           <th scope="col"  class="sortable column-product_name">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-product_name">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-quantity_wanted">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-product_price">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-quantity_wanted">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
         </tr>
       </thead>
       <tbody>
       <tr><td><a>订单生成时间：</a></td><td></td><td></td><td><a>{{order_detail.created_date}}</a></td></tr>
       <tr><td><a><h3>配送信息：</h3></a><td></td><td></td><td></td><td></td></tr>
       <tr>
         <td><a>{{order_detail.deliver_addr.retailer_name}}</a><td></td>
         <td><a>{{order_detail.deliver_addr.phone}}</a></td><td></td>
       </tr>
       <tr><td><a>详细地址：</a></td><td><a>{{order_detail.deliver_addr.address}}</a></td><td></td></tr>
       <tr><td><a><h3>商品清单：</h3></a><td></td><td></td><td></td><td></td></tr>
       <tr><td>商品名称</td><td>购买数量</td><td>单价</td><td>折扣</td><td>小计</td></tr>
       {% for item in cart.set %}
         <tr class="{% cycle 'row1' 'row2' %}">
           <td><a>{{item.name}}</a></td>
           <td><a>{{item.quantity}}</a></td>
           <td><a>{{item.price}}</a></td>
           <td>{{item.discount}}</td>
           <td>{{item.cost}}</td>
         </tr>
       {% endfor %}
       <tr><td></td><td></td><td></td><td></td><td></td></tr>
       <tr><td></td><td></td><td></td><td><a>产品总价：</a></td><td><a>{{order_detail.product_cost}}</a></td></tr>
       <tr><td></td><td></td><td></td><td><a>运费：</a></td><td><a>{{order_detail.transport_fee}}</a></td></tr>
       <tr><td></td><td></td><td></td><td><a>总计（含运费）：</a></td><td><a>{{order_detail.total_cost}}</a></td></tr>
       </tbody>
    </table>
  </div>
{% else %}
    <li>还没有录入的产品信息！</li>
{% endif %}

<form action="" method="post">{% csrf_token %}
  <fieldset class="module aligned ">
    {{ form.as_table }}
  </fieldset>
    <div class = 'submit-row'>
      <input type="submit" value="确认" class="default" />
    </div>
</form>

</div>
{% endblock %}

