{% extends "product_base.html" %}  
  
{% block operation %}
   &rsaquo;订单列表
{% endblock %}
{% block content %}  

<!-- Content -->
<div id="content" class="flex">
  <div class="results">
  <table id="result_list">
  <thead>
  <tr>
    <th scope="col"  class="sortable column-product_name">
      <div class="text"><a href="?o=1">订单号</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-product_description">
      <div class="text"><a href="?o=2">提交时间</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-product_description">
      <div class="text"><a href="?o=2">确认时间</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-quantity">
      <div class="text"><a href="?o=3">状态</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-quantity">
      <div class="text"><a href="?o=3">快递单号</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-quantity">
      <div class="text"><a href="?o=3">操作</a></div>
      <div class="clear"></div>
    </th>
  </tr>
  </thead>
  
  <tbody>
  {% for item in order_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td class="field-product_description"><a>{{item.id}}</a></td>
      {% if item.submitted_date %}
      <td class="field-product_description"><a>{{item.submitted_date}}</a></td>
      {% else %}
      <td><a></a></td>
      {% endif %}
      {% if item.confirmed_date %}
      <td class="field-product_description"><a>{{item.confirmed_date}}</a></td>
      {% else %}
      <td><a></a></td>
      {% endif %}
      <td class="field-product_description"><a>{{item.status}}</a></td>
      <td class="field-product_description"><a>{{item.transport_number}}</a></td>
      {% if not item.submitted_date %}
      <td class="field-product_name">
        <a href="{% url 'oms:OrderSubmit' item.id %}">结算</a>
        <a href="{% url 'oms:OrderDelete' item.id %}">删除</a>
      </td>
      {% else %}
        {% if user.syuser.is_admin and not item.confirmed_date and not item.canceled_date %}
          <td class="field-product_name">
            <a href="{% url 'oms:OrderConfirmation' item.id %}">确认</a> /
            <a href="{% url 'oms:OrderDetail' item.id %}">查看</a>
          </td>
        {% else %}
          {% if not item.confirmed_date and not item.canceled_date %}
            <td class="field-product_name">
              <a href="{% url 'oms:OrderDetail' item.id %}">查看</a> /
              <a href="{% url 'oms:OrderCanceled' item.id %}">取消</a>
            </td>
          {% else %}
            <td class="field-product_name">
              <a href="{% url 'oms:OrderDetail' item.id %}">查看</a>
            </td>
          {% endif %}
        {% endif %}
      {% endif %}
      
    </tr>
  {% endfor %}

  </tbody>
</table>
<!-- pagination here -->
<div class="pagination">
    <span class="step-links">
        {% if order_list.has_previous %}
            <a href="?page={{ order_list.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">
            第{{ order_list.number }}页/共{{ order_list.paginator.num_pages }}页
        </span>
        {% if order_list.has_next %}
            <a href="?page={{ order_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>

</div>


{% endblock %}
