{% extends "product_base.html" %}  
  
{% block operation %}
&rsaquo; 订单确认
{% endblock %}

{% block content %}  
<div id="content" class="flex">
  <div id="content-main">
    <h1>订单详情</h1>
  </div>

{% if order_detail %}
  <div class="results">
    <table id="result_list">
       <thead>
         <tr>
           <th scope="col"  class="sortable column-product_name">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-product_name">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-quantity_wanted">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
           <th scope="col"  class="sortable column-product_price">
             <div class="text"><a></a></div>
             <div class="clear"></div>
           </th>
         </tr>
       </thead>
       <tbody>
       <tr><td><a>订单生成时间：</a></td><td></td><td></td><td><a>{{order_detail.created_date}}</a></td></tr>
       <tr><td><a><h3>配送信息：</h3></a><td></td><td></td><td></td><td></td></tr>
       <tr>
         <td><a>{{order_detail.deliver_addr.retailer_name}}</a><td></td>
         <td><a>{{order_detail.deliver_addr.phone}}</a></td><td></td>
       </tr>
       <tr><td><a>详细地址：</a></td><td><a>{{order_detail.deliver_addr.address}}</a></td><td></td></tr>
       {% if not items %}
       <tr><td><a><h3>订单中没有包含有效商品</h3></a><td></td><td></td><td></td><td></td></tr>
       {% else %}
       <tr><td><a><h3>商品清单：</h3></a><td></td><td></td><td></td><td></td></tr>
       {% for item in items %}
         <tr class="{% cycle 'row1' 'row2' %}">
           <td><a>{{item.pro_selected.product_name}}</a></td>
           <td><a>{{item.pro_selected.product_description}}</a></td>
           <td><a>{{item.quantity_wanted}}</a></td>
           <td><a>{{item.pro_selected.price}}</a></td>
         </tr>
       {% endfor %}
       <tr><td></td><td></td><td><a>产品总价：</a></td><td><a>{{order_detail.product_cost}}</a></td></tr>
       <tr><td></td><td></td><td><a>运费：</a></td><td><a>{{order_detail.transport_fee}}</a></td></tr>
       <tr><td></td><td></td><td><a>总计（含运费）：</a></td><td><a>{{order_detail.total_cost}}</a></td></tr>
       {% endif %}
       <tr></tr><tr></tr>
       <tr><td><a><h3>确定要删除订单信息吗？</h3></a></td> </tr>
       </tbody>
    </table>
  </div>
{% else %}
    <li>还没有录入的产品信息！</li>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<div class = 'submit-row'>
  <input type="submit" value="删除" class="default" />
</div>
</form>

</div>
{% endblock %}

