{% extends "product_base.html" %}  
  
{% block operation %}
   &rsaquo;地址列表
{% endblock %}
{% block content %}  

<!-- Content -->
<div id="content" class="flex">
  <div id="content-main">
    <h1>选择地址操作</h1>
      <ul class="object-tools">
        <li>
          <a href="{% url 'oms:RetailerInfoCreate' %}">添加地址</a>
        </li>
      </ul>
  </div>
  <div class="results">
  <table id="result_list">
  <thead>
  <tr>
    <th scope="col"  class="sortable column-product_name">
      <div class="text"><a href="?o=1">姓名</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-product_description">
      <div class="text"><a href="?o=2">电话</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-quantity">
      <div class="text"><a href="?o=3">地址</a></div>
      <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-discount">
      <div class="text"><a href="?o=6">操作</a></div>
      <div class="clear"></div>
    </th>
  </tr>
  </thead>
  
  <tbody>
  {% for item in retailerinfo_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <th class="field-product_name"><a href="{% url 'oms:RetailerInfoDetail' item.id %}">{{item.retailer_name}}</a></th>
      <td class="field-product_description">{{item.phone}}</td>
      <td class="field-discount">{{item.address}}</td>
      <td>
          <a href="{% url 'oms:RetailerInfoUpdate' item.id %}">修改</a> /
          <a href="{% url 'oms:RetailerInfoDelete' item.id %}">删除</a>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>

</div>


{% endblock %}
