{% extends "customerinfo_base.html" %}

{% load i18n %}

{% block operation %}
   &rsaquo;修改密码
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}
    {% trans "请更改下面的错误。" %}
    {% else %}
    {% trans "请更改下面的这些错误。" %}
    {% endif %}
    </p>
{% endif %}


<p>{% trans "基于安全策略的考虑，请先输入旧密码，然后输入两次新密码, 以帮助我们验证您输入的密码有效。" %}</p>
<p>
  <li>{% trans "密码必须不少于8个字符" %}</li>
  <li>{% trans "密码不能全部是数字" %}</li>
  <li>{% trans "密码不能和用户名类似" %}</li>
</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    请输入现在的密码 : {{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    请输入新的密码 : {{ form.new_password1 }}
<!--    {% if form.new_password1.help_text %}
    <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}  -->
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    请再次输入新的密码 : {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans '更改密码' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}

